.app__product__list {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  transition: all .35s ease-out;

  &--loading {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    transition: all .35s ease-out;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
  }

  .app__product__list__item {
    border:  1px solid #494949;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    box-sizing: border-box;
    margin: 10px;
    cursor: pointer;
    transition: all .35s ease-out;
    display: flex;
    justify-content: space-between;

    img {
      aspect-ratio: 1 / 1;
      width: 50%;
      margin: 0 auto;
    }

    .item__weight,
    .item__name {
      font-weight: 600;
      color: #808080;
      transition: all .35s ease-out;
      position: relative;
      opacity: 0;
      margin: 0;
    }
    .item__weight {
      top: -10px;
      margin: 0;
    }

    .item__name {
      text-overflow: ellipsis;
      bottom: -10px;
      white-space: nowrap;
      overflow: hidden;
    }

    &:hover {
      .item__name,
      .item__weight{
        opacity:1;
        bottom: 0px;
        top: 0px;
      }
    }
    &.active {
     border-color: #fbad18;
     outline: #fbad18;
     outline-style: dashed;
     outline-offset: -1px;
    }
  }
}