.app__footer {
  width:100vw;
  height: 80px;
  background: #111111;
  border-top: 1px solid #5b5b5b;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  padding:2rem;
  box-sizing: border-box;
  .app__zoom__manager {
    display: flex;
    .zoom__handler {
      margin: 0 20px;
    }
    .zoom__out,
    .zoom__in{
      display:flex;
      justify-content:center;
      align-items:center;
      font-size: 24px;
      font-weight: 600;
      background-color:#fbad18;
      height: 24px;
      width: 24px;
      text-align: center;
    }
    .zoom__out {
      display: block;
    }
    .zoom__in {
      display: flex;
      position: relative;
    }
  }
}